<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DayQuestion"
        tools:targetApi="31">
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name="ru.lansonz.dayquestion.ui.activity.question.QuestionActivity"
            android:exported="false" />
        <activity
            android:name="ru.lansonz.dayquestion.ui.activity.host.HostActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:theme="@style/Theme.DayQuestion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <nav-graph android:value="@navigation/profile" />
            <nav-graph android:value="@navigation/home" />
            <nav-graph android:value="@navigation/questions" />
            <nav-graph android:value="@navigation/notifications" />
            <nav-graph android:value="@navigation/favorites" />
            <nav-graph android:value="@navigation/dayques" />
        </activity>
        <service
            android:name=".NotificationWorker"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>